@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=M+PLUS+1:wght@400;500;600;700;800&family=Satisfy&display=swap');
:root{
    --main-color:#ffffff;
    --second-color:#f9f9f9;
    --text-color:black;
    --skin-color:#dca641;
    --skin-color2: #f48a0e;
    --h3-font: 2rem;
    --h6-font: 1.3rem;
    --p-font: 1.1rem;
    --box-shadow: 3px 0 8px rgba(0, 0, 0, 0.221);
    --link-font: 1.15rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    transition: all .3s ease-in-out;
    font-family: 'M PLUS 1', sans-serif;
}
html{
    background-color: var(--main-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 16px;
}
.main-container {
    width: 100%;
}

.pad-4{
    padding: 0 .45rem;
}
.pad-55{
    padding: .5rem;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    max-width: 1080px;
    width: 100%;
    max-height: 100vh;
    margin: auto;
}
.grid-450{
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(350px, 1fr));
    gap: .6rem;
}
.headline p{
    font-size: 1.6rem;
    text-transform: capitalize;
    position: relative;
    width: 100px;
    font-weight: 600;
    color: var(--skin-color);
}
.headline p::before{
    position: absolute;
    content: '';
    top: 0px;
    left: 2px;
    width: 50px;
    height: 5px;
    background-color: var(--skin-color);
}

/* header */
header{
    width: 100%;
    height: 70px;
}
.headerFixed{
    box-shadow: var(--box-shadow);
    position:fixed;
    z-index: 1000;
    background-color: var(--second-color);
}
.header-container {
    max-width: 1080px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: relative;
}
.header-container .logo{
    width: 155px;
}
.header-container .logo h3{
    font-size: 2.3rem;
}
.header-container .logo span{
   color: var(--text-color);
}

.navigator {
    width: 300px;
}
.navigator .nav-list{
    display: flex;
    justify-content: space-between;
}
.navigator .nav-list li{
    color: var(--text-color);
    font-size: 1.2rem;
    margin-left: .4rem;
    cursor: pointer;
}

.navigator .nav-list li a{
    color: var(--text-color);
}
.navigator .category-display{
        position: absolute;
        top: 70px;
        left: 0;
        min-width: 100%;
        padding: .5rem;
        z-index: 999;
        overflow: hidden;
        clip-path: inset(0 0 100% 0)  
}
@keyframes openCat{
    from{ clip-path: inset(0 0 100% 0)}
    to{clip-path: polygon(0 0 0 0);}
    /* from{background-color: black;}
    to{background-color: red;} */
}
.navigator .open{
    animation-name: openCat;
    animation-duration: .3s;
    clip-path:inset(0 0 0 0);
}
.rotate{
    transform: rotate(180deg);
}
.options-cat{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.options-cat button{
   margin-right: .6rem;
   font-size: var(--h6-font);
   width: 100px;
   border: none;
   border-radius: .5rem .5rem 0 0;
   background-color: var(--second-color);
}
.cont-Opt-menu {
    width: 100%;
    background-color: #503e3e;
    position: relative;
    min-height: 350px;
    overflow: auto;
}

.cat-op-cont{
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(150px, 1fr));
    gap: .6rem;
}
.Ar-op-cont .Ar-name{
   height: 100px;
}
.cat-op-cont .cat-op{
    height: 100px;
    overflow: hidden;
    position: relative;
}
.cat-op-cont .cat-op:hover{
    transform: scale(1.06);
}
.cat-op-cont .cat-op img{
    width: 100%;
}
.cat-op-cont .cat-op p{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.692);
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    color: var(--text-color);
}

.humberger-menu{
    display: none;
    cursor: pointer;
}
.humberger-menu .bar{
    width: 2.4rem;
    height: .35rem;
    background-color: black;
    border-radius: .2rem;
    margin: 5px auto;
}

/* herosection */
.heroPage {
   background-image: url(image/background_blob.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.hero-container {
    width: 100%;
    display: flex;
    overflow: hidden;
   justify-content: space-between;
   }
.hero-container .hero-content ,.hero-container .hero-image{
    height : 500px;
    overflow: hidden;
    flex-basis: 50%;
    min-width: 550px;
}
.hero-container .hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-container .hero-content h3{
    font-size: 4rem;
}
.hero-container .hero-content p{
    font-size: 1.5rem;
}
.hero-container .hero-image img{
    width: 100%;
    max-width: 550px;
}
.btn{
    max-width: 250px;
    background-color:var(--second-color);
    border: 0.1rem solid var(--text-color);
    font-size: 1.3rem;
    font-weight: 400;
    padding: .3rem .6rem;
    margin-top: .6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;flex-wrap: nowrap;
    cursor: pointer;
}
.btn:hover{
    box-shadow: var(--box-shadow);
}
.btn p{
    font-weight: 600;
}
.btn .fa-right-long{
    text-align: right;
    font-size: 1.8rem;
}
.btn .fa-right-long:hover{
    color: var(--skin-color);
}

/* about-container */
.about {
    height: 100vh;
    margin-top: 4rem;
    justify-content: right;
    background-image: url('image/background_blob.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.abt-cont{
    width:fit-content;
}
   .about-info {
    max-width: 550px;
    width: 100%;
   }
   .about-info h3{
    font-size: 2.5rem;
   }
   .about-info p{
    font-size: var(--p-font);
    margin: 2rem 0;
   }
/* about-container end */
/* galey */
.galey{
    min-height: 100vh;
}
.gal-titl{
    margin-top: .4rem;
}
.gal-titl h3{
  font-size: 2rem;
}
.gal-cont-fod {
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr));
    gap: .6rem;
    margin-top: .4rem;
}
.gal-food-img{
    overflow: hidden;
    /* max-height: 350px; */
    position: relative;
    box-shadow: var(--box-shadow);
    border-radius: .6rem;
}
.gal-food-img .food-pic{
    width: 100%;
    overflow: hidden;
    /* max-height: 350px; */
}
.gal-food-img .food-pic img{
    width: 100%;
}
.gal-food-name{
    bottom: 0;
    left: 0;
    background-color: #ffffff80;
    width: 100%;
    height: 70px;
    padding-left: .8rem;
}
.gal-food-name p{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
}
.gal-food-img:hover img{
    transform: scale(1.04);
    opacity: .8;
}
.gal-food-name .food-rat .fa-star{
    color: goldenrod;
}
.loadMore {
    width: 100%;
    height: 70px;
}
.loadbtn {
     padding: .35rem .8rem;
     font-size: 1.1rem;
     font-weight: 300;
}
.hideBtn{
    visibility: hidden;
}
/* galey-end */
@media(max-width: 750px){
    .navigator{
        position: absolute;
        height: 70px;
        top: 70px;
        left: -105%;
        min-width: 100%;
        min-height: fit-content;
        background-color: transparent;
    }

    .openNav{
        left: 0;
    }

.humberger-menu{
    display: block;
}
.humberger-menu.active .bar:nth-child(1){
    transform: rotate(45deg) translateY(14.5px);
}
.humberger-menu.active .bar:nth-child(3){
   transform: rotate(-45deg) translateY(-14.5px);
}
.humberger-menu.active .bar:nth-child(2){
   opacity: 0;
}
}
@media(max-width: 530px){
     .hero-container {
        display: block;
     }
     .hero-container .hero-image{
      visibility: hidden;
     }
    html{
        font-size: 85%;
    }
    .btn{
        width: 200px;
    }
    .hero-container .hero-content{
        width: 100%;
    }
    .hero-container .hero-content p{
        max-width: 350px;
    }
}